body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #A4DDED;
    height: 400px;
    max-width: 600px;    
}

.container h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

#homeScore, #guestScore {
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    margin-top: 21px;
    margin-bottom: 21px;
}

.container button {
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px; 
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;   
}
